{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="padding: 0 0 15px 15px">Мій профіль</h3>
                </div>
                <style>
                    .div2 {
                        transition: border-radius 0.6s ease-in-out;
                            }

                    .div2:hover {
                        border-radius: 50%;
                    }
                </style>
                <div class="panel-body text-center">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" class="img-circle div2" style="width: 300px; height: 300px;" alt="Avatar">
                    {% endif %}
                    <div class="list-group mt-3 list-group-item">
                        <p><strong>Ім'я:</strong> {{ user }}</p>
                        <hr style="border: 1px solid #eee; margin: 10px 0;">
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <hr style="border: 1px solid #eee; margin: 10px 0;">
                        <p><strong>О собі:</strong> {{ profile.about|default:"Не указано" }}</p>
                    </div>
                    <div style="padding:10px">
                        <a href="{% url 'update_profile' %}" class="btn btn-primary">Редагувати профіль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
