{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Редагування профілю</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                        <a href="{% url 'user_profile' %}" class="btn btn-outline-primary">Скасування</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
