{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
            <h2 style="font-size: 24px; color: #333; text-align: center;">Ваше замовлення успішно прийнято</h2>
            <p style="font-size: 18px; color: #333;">Доброго дня <b>{{ order.first_name }}</b>!</p>
            <p style="font-size: 18px; color: #333;">Ваш номер замовлення: <strong>{{ order.id }}</strong>.</p>
            <i style="font-size: 18px; color: #666;">Сплатити потрібно після підтвердження вашого замовлення*</i>
            <hr style="border: 1px solid #eee; margin: 20px 0;">
            <h3 style="font-size: 20px; color: #333;">Деталі вашого замовлення:</h3>
            <ul style="list-style: none; padding: 0;">
                {% for item in cart_items %}
                    <li style="font-size: 16px; color: #333; margin-bottom: 10px;">
                        <strong>{{ item.product }}</strong> - <strong>{{ item.price_usd }} $ ({{ item.price_uah }} грн)</strong>
                    </li>
                {% endfor %}
            </ul>
            <hr style="border: 1px solid #eee; margin: 20px 0;">
            <p style="font-size: 24px; font-weight: bold; color: #333;">Загальна вартість: <b>{{ total }} грн</b></p>
            <i style="font-size: 16px; color: #666;">Загальна вартість на дату замовлення*</i>
            <p style="font-size: 18px; color: #333;">Дякуємо, що ви з нами!</p>
            <p style="font-size: 18px; color: #333;">З повагою, <b>Sale-bots!</b></p>
            <hr style="border: 1px solid #eee; margin: 20px 0;">
            <p style="text-align: center;">
               <a href="#" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 18px;">
                   Повернутися на сайт
               </a>
            </p>
            <hr style="border: 1px solid #eee; margin: 20px 0;">
            <i style="font-size: 10px; color: #666;">☝🏻☝🏻☝🏻Таке повідомлення надходило на пошту користувачу, але на PythonAnywhere, на жаль, SMTP-сервер є платним*</i>
        </div>
    </div>
{% endblock %}
