{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
            <h2 style="font-size: 24px; color: #333; text-align: center;">Ваше замовлення успішно прийнято</h2>
            <p style="font-size: 20px; color: #333;">Подробиці дивіться на своєму email: {{ order.email }}</p>
            <p style="font-size: 18px; color: #333;">Дякуємо, що ви з нами!</p>
            <p style="font-size: 18px; color: #333;">З повагою, <b>Sale-bots!</b></p>
        </div>
    </div>
{% endblock %}
